@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans';
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body .container {
  flex: 1;
}

table td {
  vertical-align: middle;
}

.nav-fill .nav-link{
  border: 1px solid #D13100;
  color: #D13100;
}

.nav-fill .nav-link:hover {
  transition: all .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: #d1310017;
}

.nav-fill .active {
  transition: all .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: #D13100 !important;
}

.nav-fill .active:hover {
  transition: all .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: #ec3e09 !important;
}

#index-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
.index-menuDOS{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.mylink {
	color: #D13100 !important;
}

.btn-primary{
  border: 1px solid #D13100;
	background-color: #D13100;
}

.btn-primary:hover,
.btn-primary:focus {
  border: 1px solid #ec3e09;
	background-color: #ec3e09;
}

.btn-primary:active {
  border: 1px solid #cf3b0e !important;
  background-color: #cf3b0e !important;
}

.w-fit{
	width: fit-content;
}
