@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans';
}

.nav-fill .nav-link{
  border: 1px solid #D13100;
  color: #D13100;
}

.nav-fill .nav-link:hover {
  transition: all .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: #d1310017;
}

.nav-fill .active:hover {
  transition: all .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: #ec3e09;
}

#index-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}